.start_options {
    width: 100%;
    min-height: calc(100vh - 45px);
    display: flex;
    align-items: center;
    max-width: 500px;
    margin-top: -85px;
    padding-top: 85px;
    position: relative;

    &__max_width_container {
        width: 100%;
        padding: 5% !important;
        display: flex;
        flex-direction: column;

        &__title {
            font-weight: 500;
            font-size: 45px;
            line-height: 52px;
            margin-bottom: 8%;

            span {
                font-weight: 600;
            }
        }

        &__buttons {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 8%;
        }
    }
}