.header {
    width: 100%;
    height: 85px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;

    &__max_width_container {
        width: 100%;
        max-width: 500px;

        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 4% 0 calc(4% + 8px);

            nav {
                display: flex;
                gap: 5px;
            }
        }
    }
}