.navigator {
    height: 73px;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__button_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
    }

    &__title_container {
        width: 100%;
        max-width: 330px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>h2 {
            font-weight: 400;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            word-break: break-all;
            padding-right: 10px;
        }

        &__fav_button {
            position: relative;
            cursor: pointer;
            font-size: 24px;

            &:active {
                transform: scale(0.85);
            }
        }
    }
}