.donate_modal {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;

    span {
        font-size: 25px;
        font-weight: 600;
        padding: 30px 0 15px 0;
        text-align: center;
        line-height: 32px;
    }
    p {
        font-size: 18px;
        text-align: center;
        line-height: 25px;
    }
}