.modal_body {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow: scroll;
    mask-image: linear-gradient(to bottom, transparent 0, black 30px, black calc(100% - 30px), transparent 100%);

    &::-webkit-scrollbar {
        width: 0em;
        height: 0em;
    }

    &__path_cards_container {
        display: grid;
        gap: 0;
    }
}